body {
   background-color: #FFFFEO; /* Warna kuning cerah */
   font-family: Arial, sans-serif; /* Jenis huruf yang bersih
  dan mudah dibaca */
   color:#191970; /* Warna teks utama (Biru Gelap) */
}
